# https://help.github.com/articles/about-codeowners/
# please keep this file in the same order as packages

.travis.yml @Minecrell
*gradle* @Minecrell
Jenkinsfile @Minecrell

src/main/java/org/spongepowered/server/console/** @Minecrell
src/main/java/org/spongepowered/server/inject/** @kashike
src/main/java/org/spongepowered/server/launch/** @Minecrell
src/main/java/org/spongepowered/server/plugin/** @Minecrell
