### IntelliJ IDEA ###

## Directory-based project format
.idea/
*.iml
artifacts/

## File-based project format
*.ipr
*.iws

out/

### Eclipse ###
.project
.classpath
.settings/
.checkstyle
bin/

### Maven ###
dependency-reduced-pom.xml
target/

### Other ###
TestServer/
run/