# Minecraft
public net.minecraft.network.handshake.client.C00Handshake field_149598_b # ip
public net.minecraft.network.handshake.client.C00Handshake field_149599_c # port
public net.minecraft.util.EnumChatFormatting field_96329_z # formattingCode