<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="com.mojang.util">
    <Appenders>
        <Queue name="VanillaConsole">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger{1}]: %msg%n"/>
        </Queue>
        <Queue name="MinecraftVanillaConsole" target="VanillaConsole">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n"/>
        </Queue>

        <Console name="SysOut" target="SYSTEM_OUT"/>

        <!--
        <Queue name="ServerGuiConsole">
            <PatternLayout pattern="[%d{HH:mm:ss} %level]: %msg%n"/>
        </Queue>
        -->

        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger{1}]: %replace{%msg}{(?i)\u00A7[0-9A-FK-OR]}{}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!-- Log Minecraft messages without prefix -->
        <Logger name="net.minecraft" level="debug" additivity="false">
            <filters>
                <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL"/>
            </filters>
            <AppenderRef ref="MinecraftVanillaConsole"/>
            <AppenderRef ref="File"/>
            <!--<AppenderRef ref="ServerGuiConsole"/>-->
        </Logger>

        <!-- Log all other messages with prefix -->
        <Root level="debug">
            <!--<AppenderRef ref="SysOut"/>-->
            <AppenderRef ref="VanillaConsole"/>
            <AppenderRef ref="File"/>
            <!--<AppenderRef ref="ServerGuiConsole"/>-->
        </Root>
    </Loggers>
</Configuration>
